@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .35);
}

img {
    border: none;
}

img:not([src*="/"]) {
    display: none
}

ul, li {
    list-style: none;
}
/*-----------------以上是清除默认样式---------------------------*/


html,body,.outer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.outer{
    position: relative;
}
.inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner>div{
    position: relative;/*//让每一个div相对于自己定位*/
    width:100%;
    height: 100%;

}
.inner>div:nth-child(1){
    background: url(../img/qiqiu.png) no-repeat;
    background-size: 100% 100%;
}
.inner>div:nth-child(2){
    background: url(../img/15.jpg) no-repeat;
}
.inner>div:nth-child(3){
    background: url(../img/16.jpg) no-repeat;
    background-size: 100% 100%;
}
.inner>div:nth-child(5){
    background: url(../img/bg2.gif) no-repeat;
    background-size: 100% 100%;
}

.tip{
    position: absolute;
    bottom: 10px;
    left: 50%;
    border: 10px solid #ffffff;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-color: transparent transparent #ffffff transparent;
    -webkit-animation: tipMove 1.5s ease-in-out 0s infinite both;
    animation: tipMove 1.5s ease-in-out 0s infinite both;
}
@-webkit-keyframes tipMove {
    0%,100%{
        opacity: 1;
        bottom: 10px;
    }
    50%{
        opacity: 0;
        bottom: 20px;
    }
}
@keyframes tipMove {
    0%,100%{
        opacity: 1;
        bottom: 10px;
    }
    50%{
        opacity: 0;
        bottom: 20px;
    }
}


.one-box{
    position: absolute;
    width: 260px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -130px;
    =border:1px dashed rgb(70,175,232);
    border:1px dashed #ffffff;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.inner>div.move0 .one-box{
    -webkit-animation: one-boxMove 1s linear 0s infinite both;
}
@-webkit-keyframes one-boxMove {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.one-info{
    position: absolute;
    left: 50%;
    top: 46%;
    margin: -25px 0 0 -115px;
    width: 230px;
    height: 50px;
    =color: rgb(70,175,232);
    color:#ffffff;
    text-align: center;
}
.one-info span{
    display: block;
}
.one-info span:nth-child(1){

    line-height: 30px;
    font-size: 24px;
}
.one-info span:nth-child(1){
    height: 20px;
    line-height: 20px;
    font-size: 24px;
}
.inner > div.move0 .one-info {
    -webkit-animation: shake 1s linear 0s 1 both;
    animation: shake 1s linear 0s 1 both;
}
@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}



/*---------------------------第二页----------------------*/
.des {
    position: relative;
    margin: 0 10px;
    height: 100%;
}

.page2 div {
    position: absolute;
    top: 2%;
    left: -150%;
    width: 100%;
    height: 22.5%;
    background: #fff;
    opacity: 0.5;
    text-align: center;
}

.page2 div:nth-child(2) {
    top: 26.5%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.page2 div:nth-child(3) {
    top: 51%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.page2 div:nth-child(4) {
    top: 75.5%;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

/*.page2 div.move1 {*/
.inner > div.move1 .page2 div{
    -webkit-animation-name: page2Move;
    animation-name: page2Move;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    /*-webkit-animation: myMove 1s linear; /!*infinite*!/*/
    /*animation: myMove 1s linear;*/

    /*当动画模拟完成后让当前元素的位置停留在最后一帧的位置*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes page2Move {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}

@keyframes page2Move {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
.page2>div{
    /*text-align: center;
    line-height: 100%;*/
}
.page2>div span{

= display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 120px;
}
.page2>div:nth-child(2) span{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
}
.page2>div:nth-child(1){
    /* position: absolute;
     top: 0;
     left: 0;*/
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 100%;
}
.page2>div:nth-child(2) p{

}
/*-------------------------------------------------------------*/
.music{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../video/music.svg) no-repeat;
    background-size: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.music.move{
    -webkit-animation: audioMove 1s linear 0s infinite both;
    animation: audioMove 1s linear 0s infinite both;
}
@-webkit-keyframes audioMove {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes audioMove {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------page3------------------*/
#line{
    width: 100%;
    height: 100%;

}
#line img{
    width: 20%;
    height: 80%;
=background-size: auto;
    margin-top: 15%;
    margin-left: 0;
    float: left;
}
.inner>div.move2 #line .img2{
    /*#line .img2{*/
    -webkit-animation: imgMove 2s linear 0s infinite both;
    animation: imgMove 2s linear 0s infinite both;
}
@keyframes imgMove {
    from{
        height: 10%;
    }
    to{
        height: 80%;
    }
}
@-webkit-keyframes imgMove /* Safari and Chrome */
{
    from{
        height: 10%;
    }
    to{
        height: 80%;
    }
}
/*#line div.mogu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    =background: url("../img/mogu.gif") no-repeat;
}*/
#line div.info{
    float: right;
    width: 200px;
    height: 100px;
=background: #4498c8;
    margin-right: 15%;
    box-shadow: 1px 1px 10px rgb(255,255,255);
    color: #000;
}
#line div.info:nth-of-type(1){

    margin-top: 15%;
    margin-bottom: 20px;
}
#line div.info:nth-of-type(2){
    height: 200px;
}

/*#line .info span{
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
.move2 #line .info span{
    -webkit-transform: translate(0,0);
    -webkit-transition:1s;
    transform: translate(0,0);
    transition:1s
}*/
#line .info p{
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
.move2 #line .info p{
    -webkit-transform: translate(0,0);
    -webkit-transition:1s;
    transform: translate(0,0);
    transition:1s
}

/*------------------PAGE4 --------------------------*/
.img19,.img11{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}
.img19 img{
    -webkit-transform: scale(0);
    transform: scale(0);
}

.move3>div:nth-child(1) img {
    -webkit-animation-name: img19Move;
    animation-name: img19Move;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes img19Move {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes img19Move {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.img11 img{
    -webkit-transform: scale(0);
    transform: scale(0);
}
.move3 .img11 img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s;
    transition: 1s;
}
.contact{
    position: relative;
    width: 100%;
    margin-top: 5%;
    font-size: 20px;
    color: #828282;
}

.contact p:nth-child(1){
    margin-left: 15%;
}
.contact p:nth-child(2){
    margin-left: 15%;

}
.contact p:nth-child(3){
    font-size: 25px;
    margin-left: 40%;
    color: rgb(34,88,1);
}

.contact p{
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.move3 .contact p:nth-child(1){
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition:1s;
    transition:1s;
}


@keyframes telMove {
    0%{
        -webkit-transform: translate(-500px,0);
        transform: translate(-500px,0);
    }
    50%,75%,100%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    62.5%{
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    87.5%{
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
}
@-webkit-keyframes telMove {
    0%{
        -webkit-transform: translate(-500px,0);
        transform: translate(-500px,0);
    }
    50%,75%,100%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    62.5%{
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    87.5%{
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
    }
}
.move3 .contact p:nth-child(2){
    animation: telMove 2s linear 1s 1 both;
    -webkit-animation: telMove 2s linear 1s 1 both;
}
@keyframes callMove {
    0%{
        -webkit-transform: translate(-500px,0);
        transform: translate(-500px,0);
    }
    50%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    65%{
        -webkit-transform: scale(1.5,1);
        transform: scale(1.5,1);
    }
    80%{
        -webkit-transform: scale(1,1.5);
        transform: scale(1,1.5);
    }
    100%{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

}
@-webkit-keyframes callMove {
    0%{
        -webkit-transform: translate(-500px,0);
        transform: translate(-500px,0);
    }
    50%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    65%{
        -webkit-transform: scale(1.5,1);
        transform: scale(1.5,1);
    }
    80%{
        -webkit-transform: scale(1,1.5);
        transform: scale(1,1.5);
    }
    100%{
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

}
.move3 .contact p:nth-child(3){
    animation: callMove 2s linear 2s 1 both;
    -webkit-animation: callMove 2s linear 2s 1 both;;
}